<header-nav></header-nav>
<div class="container-lg pm-margin-container shadow rounded"
[formGroup]="form"
>
    <div class="col-6 info-container">
        <h5>Id thủ thư: {{librarianId}}</h5>
        <h5>Ngày mượn: </h5>
        <div class="input-group">
                <input type="text" class="form-control">
        </div>
        <h5>Ghi chú:</h5>
        <div class="input-group">
            <textarea class="form-control"></textarea>
        </div>
    </div>
        
    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
</div>