<header-nav></header-nav>
<div class="container-lg cart-page-container">
    <div class="row">
        <div class="col col-4 phieumuon-container">
            <div class="row header-info">
                <div class="col col-12">
                    <h1>Phiếu Xin Gia Hạn</h1>
                </div>
            </div>
            <div class="row phieumuon-info-container">
                <div class="col col-12 number">
                    <h4>Số lượng: {{ numberOfBooks }}</h4>
                </div>
                <div class="form-container" [formGroup]="form">
                    <div class="form-group col col-12">
                        <label>Lý do</label>
                        <input
                            type="text"
                            formControlName="note"
                            class="form-control"
                        />
                    </div>
                    <div class="form-group col col-12">
                        <label>Ngày Lập</label>
                        <div class="input-group">
                            <input
                                type="text"
                                formControlName="ngayGHan"
                                class="form-control"
                                [ngClass]="{
                                    'is-invalid':
                                        submitted &&
                                        formControls['ngayGHan'].errors
                                }"
                                matInput
                                [matDatepicker]="picker"
                                readonly
                            />
                            <mat-datepicker-toggle
                                matIconSuffix
                                [for]="picker"
                            ></mat-datepicker-toggle>
                            <div
                                *ngIf="
                                    submitted && formControls['ngayGHan'].errors
                                "
                                class="invalid-feedback"
                            >
                                <div *ngIf="formControls['ngayGHan'].errors">
                                    Ngày lập không được trống
                                </div>
                            </div>

                            <mat-datepicker #picker></mat-datepicker>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col col-12 note-save">
                            <em
                                >Nếu như không được duyệt, khi đến hạn bạn vẫn
                                sẽ bị xem như nộp muộn
                            </em>
                        </div>
                        <div class="col col-12 mt-2">
                            <div class="d-flex justify-content-center">
                                <button
                                    (click)="save()"
                                    class="btn btn-primary"
                                >
                                    Gửi Phiếu Gia Hạn
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-8">
            <div class="row header-cart">
                <div class="col col-12">
                    <h1>Chi Tiết Phiếu Gia Hạn</h1>
                </div>
            </div>
            <div class="row mt-3 cart-details-container">
                <div class="table-responsive">
                    <table [formGroup]="detailForm" class="table">
                        <thead>
                            <tr>
                                <td>Sách</td>
                                <td>Quyển Sách</td>
                                <td>
                                    Hạn Trả Mới (<em
                                        ><strong>chờ duyệt</strong></em
                                    >)
                                </td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of itemsToRequest">
                                <td>
                                    <div class="book-container row">
                                        <div class="col col-4">
                                            <img
                                                class="book-image"
                                                [src]="item.book.image"
                                            />
                                        </div>
                                        <div
                                            class="col col-8 book-info-container"
                                        >
                                            <h4>{{ item.book.ten }}</h4>
                                            <h5>{{ item.book.tacGia }}</h5>
                                            <p>{{ item.book.category.name }}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="book-info-container">
                                        <h4>ID: {{ item.id }}</h4>
                                        <h5>
                                            Tình Trạng:
                                            {{ tinhTrangEnum[item.tinhTrang] }}
                                        </h5>
                                        <h5>
                                            Số lần mượn:
                                            {{ item.soLanMuon }}
                                        </h5>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input
                                            [formControlName]="item.id"
                                            type="text"
                                            class="form-control"
                                            matInput
                                            [matDatepicker]="picker"
                                            readonly
                                            [ngClass]="{
                                                'is-invalid':
                                                    submitted &&
                                                    formControlsDetail[item.id]
                                                        ?.errors
                                            }"
                                        />
                                        <mat-datepicker-toggle
                                            matIconSuffix
                                            [for]="picker"
                                        ></mat-datepicker-toggle>

                                        <mat-datepicker
                                            #picker
                                        ></mat-datepicker>
                                        <div
                                            *ngIf="
                                                submitted &&
                                                formControlsDetail[item.id]
                                                    ?.errors
                                            "
                                            class="invalid-feedback"
                                        >
                                            <div
                                                [@headshake]="headshake"
                                                *ngIf="
                                                    formControlsDetail[item.id]
                                                        ?.errors['required']
                                                "
                                            >
                                                Ngày gia hạn mới không được
                                                trống
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <button class="btn btn-danger">Xóa</button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <button
                                        (click)="openSelectionDialog()"
                                        class="btn btn-primary"
                                    >
                                        Thêm sách xin gia hạn
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
