<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img
            class="masthead-avatar mb-5"
            src="https://static.vecteezy.com/system/resources/previews/004/852/937/original/book-read-library-study-line-icon-illustration-logo-template-suitable-for-many-purposes-free-vector.jpg"
            alt="..."
        />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">
            Hệ Thống Thư Viện Sách
        </h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">
            Mượn Sách - Trả Sách - Gia Hạn
        </p>
    </div>
</header>
