<div class="container-lg p-5">
    <div class="row">
        <div class="col col-12">
            <h1>Chọn Sách Xin Gia Hạn</h1>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <td class="text-center">Sách</td>
                        <td class="text-center">Quyển Sách</td>
                        <td class="text-center">Hạn Trả</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
