.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu {
    position: absolute;
    background-color: white;
    right: 0;
    color: black;
    display: none;
    width: fit-content;
    width: 350px;
    max-height: 300px;
    overflow-y: auto;
}
.message-container {
    min-width: fit-content;
}

.dropdown-item {
    height: 50px;
    align-items: center;
}
.load-more {
    margin: auto;
}
#dropdownMenuButton {
    font-size: 20px;
    padding: 0;
}
