<div class="container-fluid">
    <div class="form-container">
        <div class="row confirm-heading-container">
            <div class="col col-12">
                <h2 class="text-center heading-container">FAHASA</h2>
            </div>
        </div>
        <h3>Thể Loại</h3>
        <div class="content-container shadow"
            [formGroup]="form">
            
            <label>Tên thể loại</label>
            <div class="input-group">
                <input 
                    type="text" 
                    formControlName="name"
                    class="form-control"
                    [ngClass]="{
                        'is-invalid':
                            submitted && formControls['name'].errors
                    }"
                />
                <div
                    *ngIf="submitted && formControls['name'].errors"
                    class="invalid-feedback"
                >
                    <div
                        [@headshake]="headshake"
                        *ngIf="
                            formControls['name'].errors['required']
                        "
                    >
                        Tên thể loại không được trống
                    </div>
                </div>
            </div>
            <label>Mô tả</label>
            <div class="input-group">
                <input 
                    type="text" 
                    formControlName="description"
                    class="form-control"
                    [ngClass]="{
                        'is-invalid':
                            submitted && formControls['description'].errors
                    }"
                />
                <div
                    *ngIf="submitted && formControls['description'].errors"
                    class="invalid-feedback"
                >
                    <div
                        [@headshake]="headshake"
                        *ngIf="
                            formControls['description'].errors['required']
                        "
                    >
                        Mô tả không được trống
                    </div>
                </div>
            </div>  
            <div *ngIf="data.type != 'view'" class="row justify-content-end ">
                <button (click)="submit()" class="col col-2 btn btn-secondary btn-save">
                    Lưu
                </button>
            </div>  
        </div>
    </div>
</div>
