.book-mgmt-container {
    margin-top: 120px;
}
.nav-item {
    cursor: pointer;
    padding: 0;
    font-weight: 500;
    font-size: 20px;
}
.date {
    width: 100px;
    right: 0;
    top: 0;
}

.pm-margin-container {
    margin-top: 120px;
}
.info-container {
    padding-right: 8px;
    border-right: 1px dashed #333;
}
.table-head {
    background-color: var(--bs-secondary);
    color: #fff; 
}
.header-info h1,
.header-info h2{
    font-weight: 300;
    font-family: 'Lobster', cursive;
    padding: 8px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    text-align: center;
}
.header-info:after {
    content: '';
    background-color: lightgray;
    height: 3px;
    display: block;
    width: 30%;
    margin: auto;
}

.table td{
    text-align: center;
}

.phieutra-table{
    background-color: rgba(0, 0, 0, 0.05);
}